body{
    background-color: #1d1d1d;
    font-family: Arimo,Arial,Helvetica,"Lucida Grande",sans-serif;;
    color: #fff;
}

.container{
    width: 1170px;
    height: 490.8px;
    margin: auto;
    display: flex;
    background-color: #1d1d1d;
}

.image {
    width: 252.5px;
    height: 380px;
    border: 5px solid #fff; border-radius: 2%;
    margin-left: 64px;
    margin-top: 25px;
}

.box-1 {
    flex: 1;
    justify-content: center;
    align-items: center;
}
.box-2 {
    flex: 1;
    align-items: center;
}

.box-3{
    flex: 1;
}

.trailer{
    width: 390px;
    height: 300px;
}

.mainDiv{
    width: 1170px;
    margin:auto;
    margin-top: -15px;
}

.box-4 {
    width: 780px;
    display: inline-block;
}

.box-5{
    display: inline-block;
}

.box-6{
    margin:auto; 
}

.table td{
    border: 1px solid #333;
    width: 1170px;
}

.list{
    list-style-type: none;
}

.elementList-1 {
    border-bottom: dotted 1px #333;
    margin: 10px 0;
    padding-right: 30px;
    padding-bottom: 5px;
}

.elementList-2 {
    border-bottom: dotted 1px #333;
    margin: 10px 0;
    padding-right: 30px;
    padding-bottom: 5px;
}

.elementList-3 {
    border-bottom: dotted 1px #333;
    margin: 10px 0;
    padding-right: 30px;
    padding-bottom: 5px;
}

.elementList-4 {
    border-bottom: dotted 1px #333;
    margin: 10px 0;
    padding-right: 30px;
    padding-bottom: 5px;
}

a:hover{
    color: red;
}

a {
    color: #fff;
}

.style-1 {
    border-radius: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.paragraph {
    display: inline-block;
}